#leader-container, #hacks-container, #rules-container {
	width: 1170px;
}
#hacks-container, #rules-container {
	display: none;
}
#leader-container, #hacks-container, #rules-container {
	margin-right: auto;
    margin-left: auto;
    padding-left: 15px;
    padding-right: 15px;
    margin-top: 2%;
    background: white;
}
#body-background {
	background: lightgray;
}
#row-tabs {
	border-top: 1px solid lightgray;
}
#centering{
	margin-left: 5%;
}
.hacks-img-width {
	max-width: 500px;
	margin-left: 4% !important;
}
.header {
	color: rgb(0, 135, 23);
	font-weight: 300;
}
.rules-header {
	font-weight: 300;
	color: #e7a700;
}
.cpp-green {
	background-color: #00512b;
}
.cpp-yellow {
	color: #e7a700;
}
.nav-colors {
	background-color: #363430; 
}
#social-media-container {
	width: 300px;
	float: right;
    min-height: 1px;
    margin-left: 20px;
}
#social-media-container ul {
	padding: 0; 
    margin: 0;
    list-style-type: none;
}
#social-media-container li {
	margin: 0 5px;
}
#social-media-container ul li {
	float: right;
}
#leaderboards, #hackathons, #rules {
	cursor: pointer;
}