#leader-container {
	width: 1170px !important;
}
#leader-container, #hacks-container {
	margin-right: auto;
    margin-left: auto;
    padding-left: 15px;
    padding-right: 15px;
    margin-top: 2%;
    background: white;
}
#body-background {
	background: lightgray;
}
#row-tabs {
	border-top: 1px solid lightgray;
}
#hacks-container {
	width: 1170px;
	margin-right: auto;
	margin-left: auto;
}
.hacks-img-width {
	max-width: 500px;
	margin-left: 4% !important;
}
.header {
	color: gold;
	font-weight: 300;
}